html,
body {
  font-family: cursive;
  margin: 0;
  padding: 0;
}

.navbar {
  align-items: center;
  background-color: #7d99a4;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  padding-right: 40px;
  width: 100px;
}

.nav-menu .nav-item {
  display: inline;
  font-size: 25px;
  margin: 20px;
}

.nav-menu .nav-item a {
  border-radius: 20px;
  color: #123740;
  font-weight: bold;
  padding: 15px 5px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.nav-menu .nav-item a:hover {
  background-color: #687989;
}

.hero-card h1 {
  color: wheat;
  font-size: 50px;
  text-align: center;
}

.hero-image {
  align-items: center;
  background-image: url(slike/heroimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70vh;
  justify-content: center;
}

.hero-image .hero-card {
  height: 150px;
  text-align: center;
  width: 600px;
}

.hero-image .hero-card a {
  background-color: white;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
}

.hero-image .hero-card a:hover {
  background-color: transparent;
  transition: 0.3s ease;
}

.o_nama {
  font-size: 35px;
  margin: auto;
  text-align: center;
}

.o_nama h2 {
  font-size: 40px;
  padding-bottom: 20px;
  padding-top: 50px;
  text-transform: uppercase;
}

.usluge {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0 50px;
}

.usluge .kartica {
  background-color: #123740;
  border-radius: 25px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.9);
  height: 750px;
  margin: 20px 20px;
  width: 650px;
}

.kartica img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 600px;
  width: 100%;
}

.kartica h2 {
  color: wheat;
  margin: 10px 0;
  text-align: center;
}

.kartica a {
  border-radius: 25px;
  color: white;
  display: block;
  font-size: 25px;
  margin: 15px auto;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

.kartica a:hover {
  color: wheat;
}

h2 {
  margin: 0;
}

#naslov,
#usluge,
#proizvodi,
#hrana {
  font-size: 40px;
  font-weight: 700;
  padding: 45px 0;
  text-align: center;
  text-transform: uppercase;
}

.kartica {
  position: relative;
  transition: transform 0.3s ease-in-out;
}

.kartica:hover {
  transform: translateY(-15px);
}

.detalji {
  background-color: #7d99a4;
}

.nase_usluge h2 {
  padding-bottom: 50px;
}

.o_nama p {
  padding: 0 50px;
  text-align: justify;
}

#loginStatus {
  text-align: center;
}

.dostupne_boje,
.dostupne_usluge,
.ostali_proizvodi {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
}

.dostupne_boje .kartica_boja,
.dostupne_usluge .kartica_usluga,
.ostali_proizvodi .kartica_proizvoda {
  background-color: #7288b5;
  border-radius: 25px;
  box-shadow: 0 2px 8px 0 rgba(99, 99, 99, 0.9);
  height: 750px;
  margin: 20px 20px;
  width: 550px;
}

.kartica_boja img,
.kartica_usluga img,
.kartica_proizvoda img {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  height: 600px;
  margin-bottom: 0;
  width: 100%;
}

.kartica_boja h2,
.kartica_proizvoda h2 {
  color: wheat;
  text-align: center;
}

.kartica_usluga h2 {
  color: wheat;
  padding-top: 50px;
  text-align: center;
}

.kartica_boja h3,
.kartica_proizvoda h3 {
  color: wheat;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.info h2 {
  margin-top: 5px;
}

.tabele {
  background-color: #aab7d2;
}

.kartica_boja,
.kartica_proizvoda,
.kartica_usluga {
  transform: scale(1);
  transition: transform 0.5s ease-in-out;
}

.kartica_boja:hover,
.kartica_proizvoda:hover,
.kartica_usluga:hover {
  transform: scale(1.1);
}

.container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;
  max-width: 1200px;
  overflow: hidden;
}

.contact-form {
  align-items: center;
  background-color: #aab7d2;
  border-radius: 8px;
  display: flex;
  padding: 20px;
}

.form-image {
  width: 30%;
}

.form-content {
  flex: 1;
  padding: 0 20px;
  width: 400px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 5px;
  padding: 10px;
  width: 100%;
}

.form-group textarea {
  resize: vertical;
}

.form-group button {
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  text-align: center;
}

.form-group button:hover {
  background-color: #45a049;
}

.form-right {
  background-image: url("slike/pozadina_levo.png");
  background-size: cover;
  height: 600px;
  width: 400px;
}

.form-left {
  background-image: url("slike/pozadina_forme.png");
  background-size: cover;
  height: 600px;
  width: 400px;
}

.animacija {
  background-color: #1d5968;
  display: flex;
  height: 125px;
  margin-top: 0;
  padding-top: 10px;
  width: 100%;
}

.animacija .cincila1 img {
  align-items: center;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: cincila1;
  animation-timing-function: linear;
  position: absolute;
  width: 100px;
}

.animacija .cincila2 img {
  align-items: center;
  animation-direction: alternate;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: cincila2;
  animation-timing-function: linear;
  position: absolute;
  width: 100px;
}

@keyframes cincila1 {
  from {
    left: 0;
  }

  to {
    left: 47%;
  }
}

@keyframes cincila2 {
  from {
    right: 0;
  }

  to {
    right: 47%;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .navbar {
    height: 60px;
  }

  .navbar img {
    display: none;
  }

  .navbar ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0;
  }

  .navbar .nav-item {
    margin: 5px;
    padding: 5px 5px;
  }

  .navbar ul li a {
    font-size: 13px;
  }

  .hero-image {
    align-items: center;
    display: flex;
    height: 200px;
  }

  .hero-image img {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 100%;
  }

  .hero-image .hero-card h1 {
    font-size: 18px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
  }

  .hero-card {
    padding: 0 20px;
  }

  .hero-card a {
    font-size: 15px;
    padding: 0 20px;
  }

  .o_nama h2 {
    font-size: 20px;
    padding: 10px 0;
  }

  .o_nama p {
    font-size: 17px;
    margin: 0;
    padding: 0 20px;
  }

  .usluge {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 5px;
  }

  .usluge .kartica {
    height: auto;
    margin: 10px 0;
    text-align: center;
    width: 300px;
  }

  .usluge .kartica h1 {
    font-size: 25px;
    margin: 0;
  }

  .usluge .kartica a {
    margin: 5px auto;
    padding: 5px;
  }

  .usluge .kartica img {
    height: 270px;
  }

  .animacija {
    height: 65px;
  }

  .animacija img {
    height: 60px;
    width: 70px;
  }

  .tabele h2 {
    display: flex;
    font-size: 20px;
    padding: 10px 0;
    text-align: center;
  }

  .dostupne_boje .kartica_boja,
  .dostupne_usluge .kartica_usluga,
  .ostali_proizvodi .kartica_proizvoda {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 10px 0;
    text-align: center;
    width: 300px;
  }

  .dostupne_boje .kartica_boja h2,
  .dostupne_usluge .kartica_usluga h2,
  .ostali_proizvodi .kartica_proizvoda h2 {
    font-size: 25px;
    margin: 0;
  }

  .dostupne_boje .kartica_boja img,
  .dostupne_usluge .kartica_usluga img,
  .ostali_proizvodi .kartica_proizvoda img {
    height: 270px;
  }

  .container {
    margin: 10px 0;
  }

  .contact-form {
    border-radius: 8px;
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .form-image {
    display: none;
  }
}
#contact-title {
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero-image {
    align-items: center;
    display: flex;
    height: 550px;
  }

  .hero-image img {
    display: flex;
    flex-direction: column;
    padding: 0 5px;
    width: 100%;
  }

  .hero-image .hero-card h1 {
    font-size: 50px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
  }

  .o_nama h2 {
    font-size: 40px;
    padding: 10px 0;
  }

  .o_nama p {
    font-size: 30px;
    margin: 0;
    padding: 0 20px;
  }

  .usluge {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
  }

  .usluge .kartica {
    height: auto;
    margin: 20px 20px;
    text-align: center;
    width: 300px;
  }

  .usluge .kartica img {
    height: 350px;
  }

  .usluge .kartica h1 {
    font-size: 30px;
    margin: 0;
  }

  .usluge .kartica a {
    font-size: 20px;
    margin: 5px auto;
    padding: 5px;
  }

  .usluge .kartica img {
    height: 270px;
  }

  .animacija {
    height: 100px;
  }

  .animacija img {
    height: 100px;
    width: 102px;
  }

  .tabele h2 {
    font-size: 40px;
    padding: 10px 0;
  }

  .dostupne_boje .kartica_boja,
  .dostupne_usluge .kartica_usluga,
  .ostali_proizvodi .kartica_proizvoda {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 30px 10px;
    text-align: center;
    width: 300px;
  }

  .dostupne_boje .kartica_boja h2,
  .dostupne_usluge .kartica_usluga h2,
  .ostali_proizvodi .kartica_proizvoda h2 {
    font-size: 25px;
    margin: 0;
  }

  .dostupne_boje .kartica_boja img,
  .dostupne_usluge .kartica_usluga img,
  .ostali_proizvodi .kartica_proizvoda img {
    height: 270px;
  }

  .container {
    margin: 10px 0;
  }

  .contact-form {
    border-radius: 8px;
    display: flex;
    margin: 0 auto;
    width: 90%;
  }

  .form-right {
    display: none;
  }

  .form-left {
    height: 370px;
    width: 35%;
  }
}

.hrana img {
  height: 400px;
}

.hrana {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hrana button {
  font-size: 30px;
}

#cena {
  align-items: center;
  display: flex;
  justify-content: center;
}

#cena {
  font-size: 30px;
}

.navbar-logo {
  align-items: center;
  display: flex;
  text-align: center;
}

.navbar-logo button {
  font-size: 30px;
}

.kalkulator {
  justify-content: center;
  text-align: center;
}

.kalkulator h1 {
  font-size: 40px;
}

.kalkulator p,
button {
  font-size: 26px;
}

#kilogrami {
  height: 45px;
}

.faa {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

#prikazKorpe[hidden] {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.briga {
  text-align: center;
}

.briga h2 {
  font-size: 35px;
}

#ime-cincile {
  height: 45px;
}

.faq-section {
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 30px;
  margin: 20px;
  padding: 10px;
}

.accordion {
  background-color: #eee;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 25px;
  outline: none;
  padding: 18px;
  text-align: left;
  transition: 0.4s;
  width: 100%;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

.scrolling-text-container {
  overflow: hidden;
  width: 100%;
}

.scrolling-text {
  animation: scrolling 15s linear infinite;
  white-space: nowrap;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

#real-time {
  background-color: #7d99a4;
  margin-top: 0;
}

#real-time p {
  margin: 0;
}
